Allgemeines -------------------------------------------------- */
html {
	box-sizing: border-box;
	font-family: Arial,Helvetica, sans-serif;
}

*,
*:before,
*:after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

body {
	font-family: arial;
}
/* Desktop -+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+ */
@media screen 
	and (min-width: 481px) {


	
/* Header ------------------------------------------------------- */
header {
	background-color: #5B191A;

}

#logoBanner {
	border: solid black 1px;

}


#imgHeader {
	display: flex;
	justify-content: space-around;
	padding: 5% 10% 5% 2%;
	margin: 2% 5% 2% 5%;
}

#imgHeader img {
	width: 150%;
}

.navBar {
	display: flex;
	background-color: #0E0D0D;
	font-size: 3em;
	padding-left: 2%;

}

.navList {
	display: flex;
	justify-content: flex-start;
}

.linkItems {
	color: white;
	text-decoration: none;
}

li {
	padding: 0 5% 0 5%;
	list-style-type: none;
}

#date {
	background-color: white;
	display: flex;
	justify-content: flex-end;
	padding: 1% 2% 1% 1%;
}



/* Main Content 1 ----------------------------------------------- */
#mainContent {
	width: 90%;
	margin: 0 5% 10% 5%;
}

.mainHeading {
	/* border: solid 1px black; */
	background-color: lightgrey;
	padding: 2%;
	font-size: 1.8em;
	margin: 1% 0 2% 0;
}

.imgContent {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 0 0 10% 0;
}

.figureContent {
	width: 30%;
}

.figureContent img{
	width: 100%;
	position: relative;
	object-fit: contain;
}

.figureContent figcaption {
	position: absolute;
	width: 27%;
	text-align: center;
	font-size: 1.5em;
	
	color: white;
	background-color: #0E0D0D;
	padding: 2% 0 2% 0;
	margin: 0 0 0 0;
}

#smartphoneBanner {
	display: none;
}

/* Banner Image --------------------------------------------------*/
#adBanner {
	display: flex;
	justify-content: center;
	margin: 0 0 3% 0;
}

#adImage {
	width: 80%;
}

/* Main Content 2 ------------------------------------------------*/
#secondContent {
	/* border: 1px solid black; */

	margin: 0 5% 5% 5%;
	display: flex;
	/* flex-direction: row; */

	height: auto;
	width: 85%;
}

.divSecContent {
	/* border: solid black 1px; */
	height: auto;
	width: 90%;

	display: flex;
	flex-direction: row; 
	flex-wrap: wrap;
	align-self: center;
	justify-content: space-around;
	text-align: center;

	padding: 1% 1% 10% 1%; 
	
	
}

.divSecContent a {

	width: 40%;
	display: flex;
	flex-direction: column-reverse;
	align-content: center;
	margin-bottom: 5%;

}

.divSecContent img{
	width: 100%;
}

.divSecContent p {
	position: absolute;
	width: 30.7%;
	text-align: center;
	
	font-size: 1.5em;
	color: white;
	background-color: #0E0D0D;
	padding: 2% 0 2% 0;
}

#adBannerCF img {
	height: 100%;
	max-width: 100%;
	margin: 0 0 0 0;

}

/* Footer-------------------------------------------------------- */
footer {
	background-color: #0E0D0D;
}

.footerNavBar {
	padding: 2%;
}



#footerDiv {
	display: flex;
	justify-content: flex-end;

	padding-right: 3%;
}

#footerImg {
	width: 20%;
}

#author {
	font-size: 1.6em;
	color: white;
	text-align: center;
	padding: 2% 0 5% 0;
}

}







/* SMARTPHONE -+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+*/
@media screen  
	and (max-device-width: 480px) {



.smartPhoneDelete {
	display: none;
}

/* Header ------------------------------------------------------- */
#imgHeader {
	display: flex;
	justify-content: flex-start;
}

.navBar {
}

.navList {
	width: 70%;
	display: flex;
	justify-content: space-between;
}

.navList > li {
	font-size: 0.9em;
}


/* Main Content 1 ----------------------------------------------- */
#smartphoneBanner {
	display: inherit;
}

.mainHeading {
	font-size: 3em;
}

#mainContent {
	/* border: solid black 1px; */
	width: 99%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
}

.imgContent {
	/* border: solid black 1px; */
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-content: center;
	justify-content: ;

	margin: 5%;
}

.figureContent {
	/* border: solid black 1px; */
	width: 400px;
	height: 300px;

	display: flex;
	align-content: center;
	justify-content: center;

}

.figureContent img {
	/* border: solid black 1px; */
	padding: 0 0 4% 0;

}

.figureContent figcaption {
	display: none;
}

#smartphoneBanner img {
	width: 400px;
	height: 300px;
}



/* Banner Image --------------------------------------------------*/
#adBanner {
	display: none;
}


/* Main Content 2 ------------------------------------------------*/
#adBannerCF {
	display: none;
}

#secondContent {
	padding: 0 5% 0 5%;
	margin: 0 5% 0 5%;
}


/* Footer--------------------------------------------------------*/
#footerDiv {
	display: flex;
	justify-content: center;
	align-self: center;
	height: 100px;
	width: auto;
}






}