Allgemeines -------------------------------------------------- */
html {
	box-sizing: border-box;
	font-family: Arial,Helvetica, sans-serif;
}

*,
*:before,
*:after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

body {
	font-family: arial;
}
/* Delete ------------------------------------------------------- */

footer {
	/* border: solid 1px black; */
}

#mainContent {
	/* border: solid 1px black; */
}

#secondContent {
	/* border: solid 1px black; */
}

#sideBanner {
	/* border: solid 1px black; */
}

/* Header ------------------------------------------------------- */
header {
	background-color: #5B191A;

}

#logoBanner {
	border: solid 1px black;

}


#imgHeader {
	display: flex;
	justify-content: space-around;
	padding: 5% 2% 5% 2%;
	margin: 2%;
}

#imgHeader > img {
	width: 40%;
}

.navBar {
	display: flex;
	background-color: #0E0D0D;
	font-size: 2em;
	padding-left: 2%;
}

.navList {
	display: flex;
	justify-content: flex-start;
}

.linkItems {
	color: white;
	text-decoration: none;
}

li {
	padding: 0 7% 0 7%;
	list-style-type: none;
}

#date {
	background-color: white;
	display: flex;
	justify-content: flex-end;
	padding: 1% 2% 1% 1%;
}



/* Main Content 1 ----------------------------------------------- */
#mainContent {
	width: 90%;
	margin: 0 5% 0 5%;

}

.mainHeading {
	/* border: solid 1px black; */
	background-color: lightgrey;
	padding: 2%;
	font-size: 1.8em;
	margin: 1% 0 2% 0;
}

.imgContent {
	display: flex;
	flex-direction: row;
	justify-content: space-between;

}

.figureContent {
	width: 30%;
}

.figureContent>img{
	width: 100%;
}



/* Banner Image --------------------------------------------------*/
#adBanner {
	display: flex;
	justify-content: center;
	margin: 3%;
}

#adImage {
	width: 80%;
}


/* Main Content 2 ------------------------------------------------*/
#secondContent {
	/* border: 1px solid black; */

	margin: 0 5% 5% 5%;
	display: flex;
	height: auto;
	width: 90%;
	

}

.divSecContent {
	display: flex;
	flex-flow: row wrap;
	align-self: center;
	justify-content: center;
	height: auto;
	width: 90%;
	
}

.divSecContent>img{
	width: 35%;
	padding: 5%;

}

#adBannerCF>img {
	height: 100%;

}








/* Footer-------------------------------------------------------- */
footer {
	background-color: #0E0D0D;
}

.footerNavBar {
	padding: 2%;
}



#footerDiv {
	display: flex;
	justify-content: flex-end;

	padding-right: 3%;
}

#footerImg {
	width: 20%;
}

#author {
	font-size: 1.6em;
	color: white;
	text-align: center;
	padding: 2% 0 5% 0;
}









/* SMARTPHONE -+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+*/

/* Header ------------------------------------------------------- */

/* Main Content 1 ----------------------------------------------- */

/* Banner Image --------------------------------------------------*/

/* Main Content 2 ------------------------------------------------*/

/* Footer--------------------------------------------------------